.search-field-bg {
  background-color: rgb(254, 157, 101);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.search-field {
  margin: 0 auto;
  display: block;
  padding: 1rem 1rem 1rem 0;
  font-size: 18px;
  border: none;
  transition: 0.5s all ease;
  max-width: 400px;
}

.search-field:hover {
  background-color: rgb(197, 197, 197);
}
