.recept-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 2rem auto;
  justify-content: center;
  background-color: rgb(254, 157, 101);
  padding: 2rem 0;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 1);
  border-radius: 1rem;
}

.recept-img {
  width: 400px;
  display: block;
  border: 1rem solid white;
}

.recept-img img {
  min-height: 400px;
  max-height: 400px;
  vertical-align: top;
}

h1 {
  line-height: 2.5rem;
}

.recept-text {
  display: block;
  width: 90%;
  text-align: center;
  color: white;
  line-height: 1.5rem;
}

.recept-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.recept-btn {
  padding: 0 20px;
  border: solid 3px transparent;
  cursor: pointer;
  position: relative;
}

.recept-btn:hover {
  border: solid 3px rgb(190, 190, 190);
  background-color: rgb(201, 201, 201);
}

@media screen and (min-width: 768px) {
  .recept-img {
    max-width: 500px;
  }
  .recept-text {
    padding-left: 2rem;
    width: 50%;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1400px) {
  .recept-text {
    line-height: 1.5rem;
  }
}
