.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.title {
  color: rgb(255, 58, 39);
  font-size: 2rem;
  font-family: "Montserat", sans-serif;
  padding-left: 2.5%;
}

nav {
  padding-right: 2.5%;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  margin-right: 15px;
}

a {
  text-decoration: none;
  font-style: none;
  color: rgb(255, 58, 39);
  font-size: 1.2rem;
  font-family: "Montserat", sans-serif;
}

a:hover {
  color: rgb(243, 103, 91);
}

@media screen and (min-width: 768px) {
  ul {
    flex-wrap: nowrap;
  }
}
